* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $default__font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: $default__font-stack--code;
}

pre {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
label {
  margin-bottom: 0.4rem;
}

.paper {
  margin: 1rem;
  padding: 2rem;
  flex-grow: 1;
}
