.notification {
  &__container {
    position: fixed;
    bottom: 2%;
    right: 2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  width: 20rem;
  padding: 1rem;
  border: 3px solid green;
  border-radius: 4px;
  transition: all 200ms;
  margin: 0.5rem;

  // &--display {

  // }

  &--error {
    border: 3px solid red;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(40rem);
  }
  to {
    transform: translateX(0rem);
  }
}
