.flex {
  &__column {
    display: flex;
    flex-direction: column;
    width: 100%;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__row {
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
  }
}
