.page {
  width: 100%;
}

.container {
  display: flex;
}

.elements {
  width: 100%;
  display: flex;
}

.list__container {
  padding: 2rem;
  width: 100%;
}

.list__item {
  border: 1px solid #333;
  border-radius: 2px;
}
.list__item:hover {
  cursor: pointer;
  background-color: rgba(0, 10, 150, 0.2);
}

.json {
  width: 35%;
  border-right: 1px solid #333;
  padding: 2rem;
}

.form {
  display: grid;
  place-items: center;
}

.form__container {
  padding: 2rem;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre {
  margin-bottom: 2rem;
}

label {
  margin-bottom: 0.4rem;
}

.flex__column {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex__row {
  margin: 2rem 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 4rem;
  border-bottom: 1px solid #333;
}

.navigation {
  display: flex;
}
.navigation a {
  text-decoration: none;
  color: white;
  background-color: steelblue;
  padding: 1rem 2rem;
  width: 34%;
  text-align: center;
  border: 1px solid transparent;
}
.navigation a:hover {
  cursor: pointer;
  border: 1px solid white;
  border-bottom: 1px solid steelblue;
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 0.9;
  z-index: 5000;
  overflow: hidden;
}
.loading__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.notification {
  position: fixed;
  bottom: 2%;
  right: 2%;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  width: 20rem;
  padding: 1rem;
  border: 3px solid green;
  border-radius: 4px;
  transform: translateX(40rem);
  transition: all 200ms;
}
.notification--display {
  transform: translateX(0);
}
.notification--error {
  border: 3px solid red;
}
